.view-event-detailed {
  position: fixed;
  margin-top: 30px;
  margin-left: 200px;
  width: 1000px;
  overflow-y: scroll;
}

.mode4-title {

}

.mode4-timestamp {

}

.mode4-body {

}

.mode4-links {

}
.mode4-confirmed-by {

}
.mode4-confirmed-by-container {

}
.mode4-conflicts-with {

}
.mode4-conflicts-with-container {

}
