.view-event-detailed {
  position: fixed;
  margin-top: 30px;
  margin-left: 200px;
  width: 1000px;
  overflow-y: scroll;
  height: 100%;
}

.mode4-title {
  //position: absolute;
  left: 0px; top: 0px;
  width: 50%;
  display: inline-block;
}

.mode4-title:hover {
  text-decoration: underline;
}

.mode4-timestamp {
  //position: absolute;
  display: inline-block;
  width: 150px;
  min-height: 60px;
}

.mode4-body {
  width: 70%;
  min-height: 100px;
  border: 1px solid;
}

.mode4-links {
  position: absolute;
  width: 25%;
  right: 0px; top: 0px;
  height: 100%;
}
.mode4-confirmed-by {
  height: 50%;
  top: 0px;
}
.mode4_confirmed_by_container, .mode4_conflicts_with_container  {
  width: 25%;
  border: 1px solid;
  height: 85%;
  width:  95%;
}
.mode4_confirmed_by_item {
  margin: 2px 0px 2px 0px;
}
.mode4_confirmed_by_item:hover {
  border: 1px solid gray;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.mode4-conflicts-with {
  height: 50%;
  bottom: 0px;
}
.mode4_edit_conflicts_btn, .mode4_edit_conforms_btn {
  width: 24px; height: 24px;
  display: inline-block;
  right: 0px;
}
.mode4_edit_conflicts_btn img, .mode4_edit_conforms_btn img {
  width: 24px; height: 24px;
  content: url("http://png-5.findicons.com/files/icons/1676/primo/128/pencil.png");
}
.mode4_conflicts_with_caption, .mode4_confirmed_by_caption {
  margin-right: 24px;
  display: inline-block;
  height: 2em;
  width: 80%;
}

.mode4-questions-container {
  margin-top: 5px;
  border: 1px solid;
  width: 70%;
}

.mode4-interpret-container {
  border: 1px solid;
  width: 70%;
  margin-left:   2px;
  margin-bottom: 1px;
}

.mode4-question {
  margin-left: 2px;
  display: inline-block;
}

.mode4-interpret {
  margin: 1px 1px 1px 1px;
}
.mode4-interpret:hover {
  text-decoration: underline;
}

.mode4-add-question-btn img {
  content: url("http://png-2.findicons.com/files/icons/1160/sticky/128/question.png");
  width: 20px; height: 20px;
}

.mode4-remove-question-btn {
 display: inline-block;
}
.mode4-remove-question-btn img {
  content: url("http://www.iconsearch.ru/uploads/icons/softwaredemo/128x128/deletered.png");
  width: 20px; height: 20px;
}

.mode4-add-interpret-btn {
  display: inline-block;
}
.mode4-add-interpret-btn img {
  content: url("http://a.dryicons.com/images/icon_sets/simplistica/png/128x128/add.png");
  width: 20px; height: 20px;
}

.mode4-remove-interpret-btn {
 display: inline-block;
}
.mode4-remove-interpret-btn img {
  content: url("http://iconizer.net/files/Brightmix/orig/monotone_close_exit_delete.png");
  width: 20px; height: 20px;
}

