.main-events-list .ui-selecting { background: #FECA40; }
.main-events-list .ui-selected { background: #F39814; color: white; }
.main-events-list li { overflow: hidden; height: 30px; }

.main-events-list  li {
  list-style: none;
}
.event-list-item-title {
  width: 70%;
  float: left;
  left: 0px;
  display: inline-block;
  padding: 3px 0px 3px 0px;
}
.event-list-item-time {
  width:  25%;
  float: right;
  display: inline-block;
  padding: 3px 0px 3px 0px;
}

.main-aux-buttons-area input[type="radio"] {
  display: none;
}
.aux-button-label {
    display:block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}
.main-aux-buttons-area input[type="radio"] + label {
    margin: 4px 0px 4px 0px;
    display: block;
    text-align: center;
}
.main-aux-buttons-area input[type="radio"]:checked + label {
    background-color:#bbb;
}